.jumbotron {

    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
    background-color: orange;
    color: white;
}

#keyTerm {

    align-items: center;
    color: gray;
    text-align: center;
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#addressTerm {
    align-items: center;
    color: gray;
    text-align: center;
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}


.submitInfo {

    background-color: white;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#enterFood {

    font-family: 'Archivo Black', sans-serif;
    color: gray;
    text-align: center;
}

#enterAddress {

    font-family: 'Archivo Black', sans-serif;
    color: gray;
    text-align: center;
}

#enterCity {

    font-family: 'Archivo Black', sans-serif;
    color: gray;
    text-align: center;
}

#city {

    color: gray;
    text-align: center;
}
.loading{
display: none;

}
#seeResults {

    font-family: 'Archivo Black', sans-serif;
    color: white;
    background-color: orange;
    padding: 30px 30px 30px 30px;
    font-size: 24px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}


}

#enterState {

    font-family: 'Archivo Black', sans-serif;
    color: gray;
    text-align: center;
}

#state {

    color: gray;
    text-align: center;
}

#enterRadius {

    font-family: 'Archivo Black', sans-serif;
    color: gray;
    text-align: center;
}

#radius {

    text-align: center;
    color: gray;
}

#results {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black', sans-serif;
}

#filterResults {

    text-align: center;
    color: gray;
}


#dumpResults {

    color: orange;
    background-color: white;
    padding: 30px 30px 30px 30px;
    text-align: left;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;

}

.btn_a {
    border-style: solid;
    border-color: gray;
    background-color: orange;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;

}
.btn_b {
    border-style: solid;
    border-color: gray;
    background-color: orange;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    text-align: center;

}


#buttons{
	float: right;

}
.results h1 {

    color: orange;
    text-align: left;
}

.result p {

    color: black;
    text-align: left;
}

.back_button {

    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    background-color: orange;
    color: white;
    font-family: 'Archivo Black',
    sans-serif;
    font-size: 24px;
}

hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 2px dimgrey !important;
    height: 3px !important;
}

@media only screen and (max-width: 500px) {
    #seeResults {

        display: inline-block;
        text-align: center;
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {

    #seeResults {

        display: inline-block;
        text-align: center;
        font-size: 20px;
    }
}

.deliveryForm {
    background-color: white;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;

}

#dropOffName {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}

#enterDropOffName {

    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#dropOffAddress {
    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}

#enterDropOffAddress {
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#pickUpName {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}

#enterPickUpName {
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#pickUpAddress {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}

#enterPickUpAddress {
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#custNumber {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}

#enterCustNumber {
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#dropOffNotes {

    text-align: center;
    color: gray;
    font-family: 'Archivo Black',
    sans-serif;
}
#enterDropOffNotes {
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}

#placeDelivery {


    font-family: 'Archivo Black',
    sans-serif;
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    font-size: 24px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 20px;
}



#displayStatus {
    color:orange;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    background-color: white;
    padding: 30px 30px 30px 30px;
    text-align: left;
  
}


#status-animate {
	height: 70px;
    margin: 2%;
	border-radius: 10px;
    position: relative;
    -webkit-animation: mymove 5s; 
    -webkit-animation-iteration-count: infinite; 
    animation: bgflash 5s;
    animation-iteration-count: infinite;
}

#status-animate h1 {
	line-height: 200%;
	color: orange;
    position: relative;
    -webkit-animation: mymove 5s;  
    -webkit-animation-iteration-count: infinite; 
    animation: statusmove 5s;
    animation-iteration-count: infinite;
}


@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes statusmove {
    0% {left: 0px;}
    50% {color: red; left: 70%;}
    100% {left: 0px;}
   
}

@keyframes bgflash {
    0% {}
    50% {background-color: orange;}
    100% {}
   
}

