.jumbotron {

	text-align: center;
	font-family: 'Archivo Black', sans-serif;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 20px;
	background-color: orange;
	color: white;


}

#keyTerm {

	align-items: center;
	color: gray;
	text-align: center;
	width: 30%;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 20px;

}

#addressTerm {
	align-items: center;
	color: gray;
	text-align: center;
	width: 30%;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 20px;

}


.submitInfo {

	background-color: white;
	padding: 30px 30px 30px 30px;
	text-align: center;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 20px;
}

#enterFood {

	font-family: 'Archivo Black', sans-serif;
	color: gray;
	text-align: center;

}

#enterAddress {

	font-family: 'Archivo Black', sans-serif;
	color: gray;
	text-align: center;

}

#enterCity {

	font-family: 'Archivo Black', sans-serif;
	color: gray;
	text-align: center;

}

#city {

	color: gray;
	text-align: center;

}

#seeResults {

	font-family: 'Archivo Black', sans-serif;
	color: white;
	background-color: orange;
	padding: 30px 30px 30px 30px;
	font-size: 24px;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	border-radius: 20px;
}

	}

#enterState {

	font-family: 'Archivo Black', sans-serif;
	color: gray;
	text-align: center;

}

#state {

	color: gray;
	text-align: center;

}

#enterRadius {
	
	font-family: 'Archivo Black', sans-serif;
	color: gray;
	text-align: center;
}

#radius {

	text-align: center;
	color: gray;
}

#results {

	text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#filterResults {

	text-align: center;
	color: gray;
}
.results{
	display: none;
}

#dumpResults {
	color:orange;
	border-style: solid;
	border-color: gray;
	border-radius: 15px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	text-align: left;

	}
.btn_a {
    border-style: solid;
    border-color: gray;
    background-color: orange;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;

}
.btn_b {
    border-style: solid;
    border-color: gray;
    background-color: orange;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    text-align: center;

}

#buttons{
	float: right;
}
.results h1 {

	color: orange;
	text-align: left;
}

.result p {

	color: orange;
	text-align: left;

}

#back_button {

	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	padding: 30px 30px 30px 30px;
	background-color: orange;
	color: white;
	font-family: 'Archivo Black', sans-serif;
	font-size: 24px;
}

hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 2px dimgrey !important;
    height: 3px !important;
}

@media only screen and (max-width: 500px) {
    #seeResults {
   
       	display: inline-block;
        text-align: center;
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px) {

	#seeResults {

		display: inline-block;
		text-align: center;
		font-size: 20px;
	}
}

.deliveryForm {

	border-style: solid;
	border-color: gray;
	border-radius: 15px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	text-align: center;
}

#dropOffName {

		text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#dropOffAddress {
		text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#pickUpName {

	text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#pickUpAddress {

	text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#custNumber {

	text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#dropOffNotes {

	text-align: center;
	color: gray;
	font-family: 'Archivo Black', sans-serif;
}

#placeDelivery {


	font-family: 'Archivo Black', sans-serif;
	color: white;
	background-color: orange;
	border-radius: 10px;
	padding: 30px 30px 30px 30px;
	font-size: 24px;

}

.delivery {

	display: none;
}

#displayStatus {
	color:orange;
	border-style: solid;
	border-color: gray;
	border-radius: 15px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	text-align: left;

	}

